.footer-section {
  background: #212529;
  color: white;
}

.footer-section h5 {
  font-weight: bold;
  margin-bottom: 15px; 
}

.social-icons {
  display: flex;
  justify-content: center; 
  gap: 20px;
  font-size: 1.6rem;
  margin-top: 10px;
}

.social-icons a {
  color: white;
  transition: color 0.3s ease;
  text-decoration: none;
}


.social-icons a[href*="instagram"]:hover {
  color: #E1306C;
}

.social-icons a[href*="facebook"]:hover {
  color: #1877f2;
}

.social-icons a[href*="youtube"]:hover {
  color: #FF0000;
}


@media (min-width: 768px) {
    .footer-section .col-md-6:last-child .social-icons {
        justify-content: flex-end; 
    }
}