/* NavigationBar.css */
.nav-link {
  color: black;
  font-weight: 700;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  transition: color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px; 
}

.nav-link:hover {
  color: black !important;
}

.active-nav {
  color: black !important;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after,
.active-nav::after {
  width: 100%;
}


.navbar-brand {
  
}

.navbar-toggler {
  border-color: rgba(0,0,0,.1); 
  
  padding: 0.25rem 0.75rem; 
  font-size: 1.25rem; 
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow .15s ease-in-out;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 .25rem rgba(0, 128, 0, 0.25); 
}



@media (max-width: 991.98px) {
 
  .navbar-brand {
    font-size: 22px !important; 
    margin-right: 0 !important;
    flex-grow: 1; 
  }

  .navbar-toggler {
    margin-left: auto !important; 
  }

  
  .navbar-nav {
    flex-direction: column; 
    width: 100%;
    align-items: center; 
    margin: 0 !important; 
    padding: 0 !important;
  }

  .nav-item {
      width: 100%; 
  }

  .nav-link {
    text-align: center;
    padding: 10px 0;
    width: 100%; 
    margin: 5px 0 !important; 
    font-size: 1.1rem; 
  }

  .navbar-collapse .ms-auto {
      margin-left: 0 !important;
      margin-right: 0 !important; 
  }

  
  .navbar-collapse {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
    
    border-top: 1px solid rgba(0,0,0,0.1); 
  }

  
  .container-fluid {
      padding-left: 15px;
      padding-right: 15px;
  }
}