.register-section {
  padding: 80px 15px;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: black;
  display: flex;
  align-items: center;
}

.register-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  color: black;
}

.register-form .form-label {
  font-weight: 600;
  color: black;
  margin-bottom: 0.5rem;
}


.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="tel"],
.register-form input[type="date"] {
  border-radius: 5px;
  border: 1px solid #ced4da;
  padding: 0.75rem 1rem;
}

.register-form .form-check-label {
  margin-left: 0.5rem;
}

.register-form .btn-success {
  font-weight: 600;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
.custom-register-btn {
  background-color: black;  
  border-color: white;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  transition: background-color 0.3s ease;
}
.custom-register-btn:hover {
  background-color: white;
  border-color: white;
}
@media (max-width: 768px) {
  .register-section {
    padding: 60px 15px;
  }

  .register-form h2 {
    font-size: 1.8rem;
  }
 
}

@media (max-width: 576px) {
  .register-section {
    padding: 40px 10px;
  }

  .register-form {
    padding: 20px;
  }

  .register-form h2 {
    font-size: 1.6rem;
  }
}
